<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>
    <!-- CAMBIAR DESDE ACA -->
  <div class="container">
    <div class="row">
        <div class="col-lg-2 imgcart">
  
          <img src="../images/auto.jpg" style="width: 200px;height: 200px;">
  
        </div>
        <div class="col-lg-4">
  
            <p class="asd">Seguro contra robo de Autos</p>
            <div class="dropdown asd">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cantidad de Meses
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Mensual</a>
                <a class="dropdown-item" href="#">Trimestral</a>
                <a class="dropdown-item" href="#">Semestral</a>  
                <a class="dropdown-item" href="#">Anual</a>
              </div>
            </div>
  
        </div>
        <div class="col-lg-6 col-md-12 ayuda">
            <article class="textcart">Detalle: Robo de Auto x 3 mes</article>
            <article class="textcart">Precio: 99999</article>
            <article class="textcart">IVA: 100000</article>
            <article class="textcart">TOTAL: 199999</article>
            <button>Aceptar</button>
        </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-lg-2 imgcart">
  
          <img src="../images/moto.jpg" style="width: 200px;height: 200px;">
  
        </div>
        <div class="col-lg-4">
  
            <p class="asd">Seguro contra robo de Motos</p>
            <div class="dropdown asd">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cantidad de Meses
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Mensual</a>
                <a class="dropdown-item" href="#">Trimestral</a>
                <a class="dropdown-item" href="#">Semestral</a>  
                <a class="dropdown-item" href="#">Anual</a>
              </div>
            </div>
  
        </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-lg-2 imgcart">
  
          <img src="../images/camioneta.jpg" style="width: 200px;height: 200px;">
  
        </div>
        <div class="col-lg-4">
  
            <p class="asd">Seguro contra robo de Camiones</p>
            <div class="dropdown asd">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cantidad de Meses
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Mensual</a>
                <a class="dropdown-item" href="#">Trimestral</a>
                <a class="dropdown-item" href="#">Semestral</a>  
                <a class="dropdown-item" href="#">Anual</a>
              </div>
            </div>
  
        </div>
    </div>
  </div>
  
  <% - include('../partials/footer.ejs') %>