<%- include('partials/head.ejs') %>
        <!-- HEADER DESDE ACA -->
        <div class="headerHome">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 menu">
                    <div class="col-sm-7 logo">
                        <a href="http://localhost:3000/" target=" "><img src="/images/logo.png" alt="" class="imagenlogo"/></a>
                    </div>
                    <div class="col-sm-5 contacto">
                        <div class="row">
                            <div class="col-sm-6 col-md-2 info"><a class="nav-link" href="/">Home</a></div>
                            <div class="col-sm-6 col-md-2 info"><a class="nav-link" href="#">Nosotros</a></div>
                            <div class="col-sm-6 col-md-2 info"><a class="nav-link" href="#">Contacto</a></div>
                            <div class="col-sm-6 col-md-2 info">
                                <a href="/users/profile" target=""><img src="/images/people.png" alt="" /></a></div>
                            <div class="col-sm-6 col-md-2 info">
                                <a href="" target=" "><img src="/images/lens.png" alt="" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    <!-- CAMBIAR DESDE ACA -->
    <div class="body">
        <div class="row">
            <div class="col-sm-12">
                <div class="textoseguro">
                    <p>¿Que tipo de seguro quieres?</p>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-4 bloques">INCENDIOS
                            <div class="imagen">
                                <a href="products/incendios" target=" "><img src="/images/fire.png" alt="" /></a>
                            </div>
                            <br>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit elementum eget congue, tristique
                                sollicitudin enim eu nisi ultrices iaculis justo scelerisque, phasellus vestibulum metus
                                rhoncus sapien a integer odio ligula. Senectus parturient maecenas conubia netus
                                pharetra felis placerat tincidunt, tortor fusce cras ligula nostra cursus augue duis
                                lacinia, nascetur semper a habitasse euismod inceptos vivamus. Sociosqu ante neque morbi
                                pulvinar habitasse enim himenaeos, ultrices per orci molestie nisi fames dignissim
                                praesent, lacus iaculis class cursus mollis eros.</p>
                            <button type="submit" class="btn btn-primary" onclick = "location='products/incendios'">Visitar</button>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-4 bloques">ROBO Y/O PERDIDA
                            <div class="imagen">
                                <a href="products/robo-perdida" target=" "><img src="/images/user.png" alt="" /></a>
                            </div>
                            <br>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit elementum eget congue, tristique
                                sollicitudin enim eu nisi ultrices iaculis justo scelerisque, phasellus vestibulum metus
                                rhoncus sapien a integer odio ligula. Senectus parturient maecenas conubia netus
                                pharetra felis placerat tincidunt, tortor fusce cras ligula nostra cursus augue duis
                                lacinia, nascetur semper a habitasse euismod inceptos vivamus. Sociosqu ante neque morbi
                                pulvinar habitasse enim himenaeos, ultrices per orci molestie nisi fames dignissim
                                praesent, lacus iaculis class cursus mollis eros.</p>
                            <button type="submit" class="btn btn-primary" onclick = "location='products/robo-perdida'">Visitar</button>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 bloques">VIDA
                            <div class="imagen">
                                <a href="/products/vida" target=" "><img src="/images/heart.png" alt="" /></a>
                            </div>
                            <br>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit elementum eget congue, tristique
                                sollicitudin enim eu nisi ultrices iaculis justo scelerisque, phasellus vestibulum metus
                                rhoncus sapien a integer odio ligula. Senectus parturient maecenas conubia netus
                                pharetra felis placerat tincidunt, tortor fusce cras ligula nostra cursus augue duis
                                lacinia, nascetur semper a habitasse euismod inceptos vivamus. Sociosqu ante neque morbi
                                pulvinar habitasse enim himenaeos, ultrices per orci molestie nisi fames dignissim
                                praesent, lacus iaculis class cursus mollis eros.</p>
                            <button type="submit" class="btn btn-primary" onclick = "location='/products/vida'">Visitar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- HASTA ACA -->
    <%- include('partials/footer') %>