<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<!-- HEADER DESDE ACA -->

<div class="headerHome">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 menu">
            <div class="col-sm-7 logo">
                <a href="http://localhost:3000/" target=" "><img src="/images/logo.png" alt="" class="imagenlogo" /></a>
            </div>
            <div class="col-sm-5 contacto">
                <div class="row">
                    <div class="col-sm-6 col-md-2 info"><a class="nav-link" href="/">Home</a></div>
                    <div class="col-sm-6 col-md-2 info"><a class="nav-link" href="#">Nosotros</a></div>
                    <div class="col-sm-6 col-md-2 info"><a class="nav-link" href="#">Contacto</a></div>
                    <div class="col-sm-6 col-md-2 info">
                        <a href="/users/profile" target=""><img src="/images/people.png" alt="" /></a></div>
                    <div class="col-sm-6 col-md-2 info">
                        <a href="" target=" "><img src="/images/lens.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CAMBIAR DESDE ACA -->

<body>
    <div class="body">
        <div class="row">
            <div class="col-sm-12">
                <div class="textoseguro">
                    <p>¿Que tipo de seguro quieres?</p>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-4 bloques">INCENDIOS
                            <div class="imagen">
                                <a href="products/incendios" target=" "><img src="/images/fire.png" alt="" /></a>
                            </div>
                            <br>
                            <p>Un seguro que se puede complementar con coberturas opcionales, según tus necesidades y prioridades.
                                Incluyendo póliza que cubre a tu hogar, auto o bien en caso de incendio.
                                <br>
                                A un costo accesible obtenés la protección y el respaldo de una empresa lider en
                                Argentina.
                                <br>
                                <br>
                                <br>
                            </p>
                            <button type="submit" class="btn btn-primary"
                                onclick="location='products/incendios'">Visitar</button>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-4 bloques">ROBO Y/O PERDIDA
                            <div class="imagen">
                                <a href="products/robo-perdida" target=" "><img src="/images/user.png" alt="" /></a>
                            </div>
                            <br>
                            <p>Es una combinación de seguros que presenta planes básicos por vivienda / automovil / moto, según el valor de la propiedad, los riesgos y tus necesidades particulares.
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                </p>
                            <button type="submit" class="btn btn-primary"
                                onclick="location='products/robo-perdida'">Visitar</button>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 bloques">VIDA
                            <div class="imagen">
                                <a href="/products/vida" target=" "><img src="/images/heart.png" alt="" /></a>
                            </div>
                            <br>
                            <p>
                                Seguros innovadores que se adaptan a todas tus necesidades.
                                <strong>SALUD</strong>
                                Para intervenciones quirúrgicas de alta complejidad, a un costo
                                accesible.
                                <strong>PROFESIONALES</strong>
                                Es un seguro que te cubre en caso de accidentes personales ocurridos en tu trabajo.
                            </p>

                            <button type="submit" class="btn btn-primary"
                                onclick="location='/products/vida'">Visitar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- HASTA ACA -->
<%- include('partials/footer') %>
</body>
</html>