<!-- FOOTER DESDE ACA -->
<div class="footer">
    <div class="row">
        <div class="col-sm-12"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 bloqueder pra">Praesidium
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link nlfooter" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nlfooter" href="#">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nlfooter" href="#">Contacto</a>
                        </li>
                </div>
                <div class="col-sm-6 bloqueizq">
                    <div class="rightfooter">
                        <div class="row">
                            <div class="col-sm-12">
                                <form>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Newsletter</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Ingrese su eMail">
                                        <small id="emailHelp" class="form-text text-muted">No compartiremos este
                                            eMail con nadie mas.</small>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-sm-3 bloqazo">
                            <a href="" target="_blank"><img
                                    src="https://68ef2f69c7787d4078ac-7864ae55ba174c40683f10ab811d9167.ssl.cf1.rackcdn.com/facebook-icon_24x24.png"
                                    alt="" /></a>
                        </div>
                        <div class="col-sm-3 bloqazo">
                            <a href="" target="_blank"><img
                                    src="https://68ef2f69c7787d4078ac-7864ae55ba174c40683f10ab811d9167.ssl.cf1.rackcdn.com/twitter-icon_24x24.png"
                                    alt="" /></a></div>
                        <div class="col-sm-3 bloqazo">
                            <a href="" target="_blank"><img
                                    src="https://68ef2f69c7787d4078ac-7864ae55ba174c40683f10ab811d9167.ssl.cf1.rackcdn.com/youtube-icon_24x24.png"
                                    alt="" /></a></div>
                        <div class="col-sm-3 bloqazo">
                            <a href="" target="_blank"><img
                                    src="https://68ef2f69c7787d4078ac-7864ae55ba174c40683f10ab811d9167.ssl.cf1.rackcdn.com/instagram-icon_24x24.png"
                                    alt="" /></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>

</html>
