<!-- HEADER DESDE ACA -->
<div class="headerHome">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 menu">
            <div class="col-sm-7 logo">
                <b>PRAESIDIUM (LOGO)</b>
            </div>
            <div class="col-sm-5 contacto">
                <div class="row">
                    <div class="col-sm-6 col-md-2 info"><a class="nav-link" href="/">Home</a></div>
                    <div class="col-sm-6 col-md-2 info"><a class="nav-link" href="#">Nosotros</a></div>
                    <div class="col-sm-6 col-md-2 info"><a class="nav-link" href="#">Contacto</a></div>
                    <div class="col-sm-6 col-md-2 info">
                        <a href="/users/profile" target=""><img src="/images/people.png" alt="" /></a></div>
                    <div class="col-sm-6 col-md-2 info">
                        <a href="" target=" "><img src="/images/lens.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
